<title>@@title | HomeSystem</title>
<!-- [Meta] -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="description"
  content="HomeSystem - Property Management Application for landlords and property managers."
/>
<meta
  name="keywords"
  content="property management, rental management, tenant management, lease tracking, payment tracking"
/>
<meta name="author" content="HomeSystem" />

<!-- [Favicon] icon -->
<link rel="icon" href="../assets/images/favicon.svg" type="image/x-icon" />
